<html>
    <head>
        <title>Nancy Carmona's blog</title>
    </head>
    <body>
    	<header>
    		<img src="foto.jpg">
    	</header>
        <div>
            <h1>Nancy Carmona's Blog</h1>
        </div>

        <div>
            <p>Publicado: 12.10.2018, 10:12</p>
            <h2><a href="">Primer post</a></h2>
            <p>Probando cambios</p>
        </div>

        <div>
            <p>published: 14.06.2014, 12:14</p>
            <h2><a href="">My second post</a></h2>
            <p>Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut f.</p>
        </div>
    </body>
</html>